
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffff);
    background-attachment: fixed;
}

.swap-component {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.swap-component:hover {
    transform: scale(1.02);
}

.swap-component-top-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.swap-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Middle section styles */
.swap-component-middle-section {
    margin-bottom: 20px;
    width: 100%;
}

/* Bottom section styles */
.swap-component-bottom-section {
    width: 100%;
}

.none-block {
    display: none;
}
.coin{
    width: 10vw;
    height: 10vw;
    color: #000;
    background-color: #fff;
    border: none;
}
.input-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

input {
    border: none;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}




/* MetaMask Button styles */
.connect-metamask {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect-metamask:hover {
    transform: scale(1.05);
}

.button-white {
    background-color: #000;
    color: #ffffff;
}

.button-black {
    background-color: #000;
    color: #ffffff;
}

.fox-logo {
    height: 2.5rem;
    margin-right: 2%;
}

.connect-metamask {
    width: 18rem;
    display: flex;
    font-size: larger;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}
